/* Puedes agregar esto a tu hoja de estilos CSS */

.item-detail {
    width: 22rem; /* Ajusta el ancho según tus preferencias */
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px; /* Agregado para separación interna */
    line-height: 1.2; /* Ajusta el espacio entre líneas */
  }
  
  .card-text strong {
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 3px; /* Ajusta el espacio inferior según tus preferencias */
  }
  
  .card-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    justify-content: space-between;
  }
  
  .card-buttons button {
    margin-right: 10px;
  }
  
  .card-buttons button a{
    flex: 1;
  width: calc(50% - 4px); /* Se ajusta para tener el mismo ancho */
  }
  .card-img-top {
    transition: none; /* Elimina la transición en el hover */
  }
  
